<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="apple-touch-icon" sizes="180x180" asp-href-include="~/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" asp-href-include="~/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" asp-href-include="~/favicon-16x16.png" />
    <link rel="manifest" asp-href-include="~/site.webmanifest" />
    <environment include="Production">
        <link asp-href-include="~/css/vendor.bundle.min.css" rel="stylesheet" />
        <link asp-href-include="~/css/app.bundle.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    @* Глобальный JavaScript-объект, содержащий маршруты и шаблоны маршрутов для API. *@
    <script type="text/javascript">
        if (window && !window.customGlobals) {
            window.customGlobals = {
                uriTemplates: {
                    initialState: "@Url.Action("AppStateAsync", "Home").ToLower()",
                    homeModel: "@Url.Action("ModelAsync", "Home")",
                    services: "@Url.Action("ListAsync", "Services").ToLower()",
                    service: decodeURI("@Url.Action("GetAsync", "Services", new { id = "{0}" }).ToLower()"),
                    blog: "@Url.Action("PrivateListAsync", "Blog").ToLower()",
                    blogPost: decodeURI("@Url.Action("GetAsync", "Blog", new { id = "{0}" }).ToLower()"),
                    blogPartial: decodeURI("@Url.Action("PublicListAsync", "Blog", new { skip = "{0}", take = "{1}" }).ToLower()"),
                    works: "@Url.Action("ListAsync", "Works").ToLower()",
                    workExample: decodeURI("@Url.Action("GetAsync", "Works", new { id = "{0}" }).ToLower()"),
                    brands: "@Url.Action("ListAsync", "Brands").ToLower()",
                    brand: decodeURI("@Url.Action("GetAsync", "Brands", new { id = "{0}" }).ToLower()"),
                    testimonials: "@Url.Action("ListAsync", "Testimonials").ToLower()",
                    testimonial: decodeURI("@Url.Action("GetAsync", "Testimonials", new { id = "{0}" }).ToLower()"),
                    messages: "@Url.Action("GetMessagesAsync", "Messages").ToLower()",
                    message: decodeURI("@Url.Action("GetMessageAsync", "Messages", new { id = "{0}" }).ToLower()"),
                    contacts: "@Url.Action("GetAsync", "Contacts").ToLower()",
                    users: "@Url.Action("GetUsersAsync", "Users").ToLower()",
                    user: decodeURI("@Url.Action("GetUserAsync", "Users", new { userName = "{0}" }).ToLower()"),
                    self: "@Url.Action("GetMeAsync", "Users").ToLower()",
                    registerUser: "@Url.Action("RegisterAsync", "Users").ToLower()",
                    updateUserProfile: "@Url.Action("UpdateProfileAsync", "Users").ToLower()",
                    updateUserStatus: "@Url.Action("UpdateDisplayStatusAsync", "Users").ToLower()",
                    deleteUser: decodeURI("@Url.Action("DeleteAsync", "Users", new { userName = "{0}" }).ToLower()"),
                    accessToken: "@Url.Action("AccessTokenAsync", "Auth").ToLower()",
                }
            };
        }
    </script>

    <div id="root"></div>

    <environment include="Development">
        <script asp-src-include="~/js/vendor.bundle.js" asp-append-version="true" defer></script>
        <script asp-src-include="~/js/app.bundle.js" asp-append-version="true" defer></script>
    </environment>
    <environment include="Production">
        <script asp-src-include="~/js/vendor.bundle.min.js" defer></script>
        <script asp-src-include="~/js/app.bundle.min.js" defer></script>
    </environment>
</body>
</html>
